.row {
  margin-left: auto !important;
  margin-right: auto !important;
}
.products-card {
  height: 85%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.products-card:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.Feature {
  margin-top: 100px;
  margin-bottom: 100px;
}
.Feature a {
  text-decoration: none;
}
.Feature h1 {
  font-size: 24px;
  font-weight: 700;
}
.Feature a h5 {
  color: #222;
  font-size: 14px;
  text-align: start;
}
.Feature .product-price {
  color: #696969;
  font-size: 14px;
  text-align: start;
}

@media only screen and (max-width: 688px) {
  .products-card {
    margin-right: 0;
  }
}
