.ShippingType {
  margin-top: 100px;
}
.ShippingType img {
  width: 60px;
  height: 60px;
}
.ShippingType h4 {
  font-size: 15px;
  color: black;
  margin-top: 10px;
}
.ShippingType p {
  font-size: 15px;
  color: #878787;
  line-height: 10px;
}
.ShippingType hr {
  color: #878787;
}
@media only screen and (max-width: 688px) {
  .ShippingType .common-dev {
    margin-top: 30px;
  }
}
