.header ul li a {
  text-transform: uppercase;
  color: #4c4c4c !important;
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
}
.header ul li a:hover {
  color: #fb5d5d !important;
}

nav {
  padding: 25px !important;
  background-color: #ffffff;
}
.header .sign-in {
  color: #fb5d5d !important;
  margin-left: 50px;
}
.header .dashbord button {
  background-color: transparent !important;
  margin-left: 50px;
  padding: 3px 20px;
  border-radius: 15px !important;
}
.header .user img {
  width: 55px;
  border-radius: 50%;
}
@media only screen and (max-width: 688px) {
  .dashbord button {
    background-color: transparent !important;
    margin-left: 120px;
    width: 80px;
    border-radius: 15px !important;
  }
}
