.cardHover:hover {
   /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  -webkit-transform: translateX(-10px);
transform: translateX(-10px);
transition: .5s ease;

}
Link{
  text-decoration: none;
    color: black;
}
.card{
  box-shadow: 20px 20px 200px rgb(207, 237, 248);
  border-radius: 30px;
  margin: 5px;
}