.product-image {
  width: 672px;
  height: 672px;
}
.product-view {
  margin-top: 50px;
}
.product-view .product-content {
  text-align: start;
  padding-left: 30px;
}

.product-view .product-title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #333333;
}
.product-view .product-price {
  color: #969696;
  font-size: 12.664px;
}
.product-view .product-description {
  font-size: 14px;
  color: #333333;
  padding-top: 15%;
}
.product-view .product-category {
  font-size: 14px;
}

.buy-now-btn {
  height: 2.5rem;
  width: 30%;
  text-align: center;
  border: 1px solid #333;
  background: transparent;
  transition: 0.6s;
  color: #333333;
}
.buy-now-btn:hover {
  background: #ececec;
}

.share-btn {
  border: 0;
  background: 0;
  transition: 0.6s;
  margin-left: 320px;
  padding-right: 25px;
}
.share-btn .fa-share-alt {
  font-size: 22px;
  transition: 0.3s;
  color: #757575;
}
.share-btn .fa-share-alt:hover {
  color: #f57224;
}
.produt-btn {
  margin-top: 85px;
}
.close-btn {
  width: 50px;
  border: 0;
  margin-left: 90%;
  background-color: transparent;
}
.Wishlist-icon {
  border: 0;
  background: 0;
  margin-left: 0px;
  padding-top: 20px;
}
.Wishlist-icon .fa-heart {
  font-size: 24px;
  color: #757575;
  transition: 0.3s;
}
.Wishlist-icon .fa-heart:hover {
  color: #f57224;
}
.product-view-loading svg {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.stroke-still {
  stroke: #232323;
}

.stroke-animation {
  -webkit-animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
  animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

@-webkit-keyframes stroke-spacing {
  0% {
    stroke-dasharray: 0 200;
  }
  45% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
  }
  90% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
  100% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
}

@keyframes stroke-spacing {
  0% {
    stroke-dasharray: 0 200;
  }
  45% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
  }
  90% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
  100% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
}

@-webkit-keyframes stroke-color {
  0% {
    stroke: #3498db;
  }
  24% {
    stroke: #643232;
  }
  25% {
    stroke: #327864;
  }
  49% {
    stroke: #327864;
  }
  50% {
    stroke: #32326e;
  }
  74% {
    stroke: #32326e;
  }
  75% {
    stroke: #78325a;
  }
  99% {
    stroke: #78325a;
  }
}

@keyframes stroke-color {
  0% {
    stroke: #3498db;
  }
  24% {
    stroke: #643232;
  }
  25% {
    stroke: #327864;
  }
  49% {
    stroke: #327864;
  }
  50% {
    stroke: #32326e;
  }
  74% {
    stroke: #32326e;
  }
  75% {
    stroke: #78325a;
  }
  99% {
    stroke: #78325a;
  }
}

@media only screen and (max-width: 688px) {
  .prodcout-sec {
    display: flex !important;
    flex-direction: column;
  }
  .product-image {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  }
  .share-btn {
    margin-left: 70%;
  }
}
