.shipping-form {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  height: 600px;
  width: 500px;
  border-radius: 10px;
  background-color: white;
  padding-top: 20px;
  margin-top: 50px;
}
.shipping-form input {
  background-color: #eef1f7;
}
.shipping-form .btn-primary {
  background-color: #e4671f !important;
  border: 0;
}
.booking-sec {
  background-color: #ced5e0;
  padding-bottom: 500px;
  padding-top: 120px;
  text-align: start;
}
.shipping-billing {
  font-size: 20px;
  line-height: 24px;
  color: #212121;
  font-weight: 500;
}
.booking-sec .product-img > img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.product-deatils {
  background-color: white;
  height: 120px;
  width: 500px;
  padding: 10px;
  margin-top: 50px;
  margin-right: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
}
.product-deatils .product-title p {
  margin-left: 15px;
}
.product-deatils .prodcut-price p {
  color: #f57224;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
}

@media only screen and (max-width: 688px) {
  .shipping-form {
    height: 500px;
    width: 350px;

    margin-left: auto;
    margin-right: auto;
  }
  .product-deatils {
    height: 120px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
}
